<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Velkommen til Friborgen, her kan du møde Christel</h2>
                <hr class="light">
                <p class="text-faded">En stærk, veluddannet terapeut med forskerbaggrund indenfor den terapi, hun praktiserer. Metoden hedder narrative walking og den har hun opfundet på baggrund af hendes forskning, som handler om narrative samtaler i naturen, samt hendes narrativt/systemiske psykoterapeutuddannelse.</p>
                <a href="#" class="btn btn-default btn-xl">Kom igang</a>
            </div>
        </div>
    </div>
</section>
