<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Velkommen til Friborgen</h2>
                <hr class="light">
                <p class="text-faded">Friborgen ejes af Christel Trøstrup, som har årelang erfaring med supervision, uddannelse og konsulentarbejde i alle typer af virksomheder. Christel er uddannet Ph.d. i narrativ coaching fra Københavns Universitet i 2018, samt cand.pæd.psych og narrativ psykoterapeut.</p>
                <a href="#" class="btn btn-default btn-xl">Kom igang</a>
            </div>
        </div>
    </div>
</section>
