<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Velkommen til Friborgen, her kan du møde Christel</h2>
                <hr class="light">
                <p class="text-faded">Jeg er en stærk, veluddannet terapeut med forskerbaggrund indenfor den terapi, jeg praktiserer. Metoden hedder narrative walking og den har jeg opfundet på baggrund af min forskning, som handler om narrative samtaler i naturen, samt mine narrativt/systemiske psykoterapeutuddannelse.</p>
                <a href="#" class="btn btn-default btn-xl">Kom igang</a>
            </div>
        </div>
    </div>
</section>
