<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontakt Friborgen</h2>
                <hr class="primary">
                <p>Du er velkommen til at kontakte mig på instagram, mail eller linkedin</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="hhttps://www.instagram.com/friborgen_friborgen/">
                <i class="fa-brands fa-instagram" data-wow-delay=".1s"></i>
                <p>{{ site.insta_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.linkedin.com/in/christel-trostrup/?originalSubdomain=dk">
            <i class="fa-brands fa-linkedin" data-wow-delay=".1s"></i>
                <p>{{ site.linkedin_username }}</p>
            </a>
        </div>
    </div>
</section>
