<header class="custom-header">
  <div class="header-wrapper">
    <div class="header-content-inner">
      <h1>Friborgen - menneskevenlige organisationer</h1>
      <hr>
      <p>Strategisk ledelsesudvikling, vilde problemer - supervision, terapi og ledelsessparring i et narrativt perspektiv</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Velkommen</a>
    </div>
    <img src="{{ '/img/header.jpg' | prepend: site.baseurl }}" alt="Header Image" class="header-image">
  </div>
</header>
