<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hvad jeg tilbyder</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Supervision</h3>
                    <p class="text-muted">Jeg arbejder som narrativ supervisor  - særligt indenfor områderne, Ledelsesudvikling, Teamudvikling, Organisationsudvikling</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Terapi og coaching</h3>
                    <p class="text-muted">Friborgen anvender flere typer af rammer for terapi - udgangspunktet er altid hvad du eller I står i lige nu. Jeg betræber mig på at arbejde med det centrale hver gang - så du oplever at blive støttet i konkrete udfordringer du oplever.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Konsulent</h3>
                    <p class="text-muted">Friborgens spidskompetencer ligger indenfor refleksion, læring, kommunikation, samarbejde og trivsel.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Publikationer</h3>
                    <p class="text-muted">Gennem årene har jeg skrevet både artikler, bogkapitler og medvirket i podcasts. Jeg har flere bøger på vej.</p>
                </div>
            </div>
        </div>
    </div>
</section>
